.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.left {
  width: 70%;
  height: 250px;
  float: left;
}
.right {
  width: 30%;
  height: 250px;
  float: left;
}
.left_header {
  width: 100%;
  height: 30%;
}
.left_context {
  margin-top: 10px;
  width: 100%;
  height: 70%;
}
.profile_pic {
  width: 10%;
  height: 100%;
  float: left;
}
.profile_name {
  width: 90%;
  height: 100%;
  float: left;
}
.profile {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}
.profile1 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.navbar li {
  display: inline-block;
  width: 60px;
  text-align: center;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}
.navbar a {
  font-size: 16px;
  text-decoration: none;
}
